@import '_variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

section{
    height: 100vh;
    background-color: $light-grey;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.rules{
    padding: 20px;
    font-size: 30px;
}

.pictureDiv{
    display: flex;
    justify-content: space-between;
}

.picture{
    width:30vh;
}

.intro{   
    color: $dark-grey;
    height: 30vh;  
}

.intro h2{
    font-size: 40px;
}

.options{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}
.options {
    button{
    width:150px;
    height: 50px;
    background: $green;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    }
}

.options button:hover{
    background-color: $orange;
}

.linkReset:link, .linkReset:visited{
    color: $dark-grey;
    text-decoration: none;

}


